*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Bona Nova', serif;
}


.section-container{
    background-image: url(images/food/Project\ Cover1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding:50px;
}

/* header part start */
header{
    display: flex;
    align-items: center;
    background-color: black;
    padding:15px;
    color:cornsilk;
    position: fixed;
    top:0px;
    left:90px;
    width: 100%;
}
.header-div{
    width:40%;
}
.header-div2{
    width:60%;
}
.header-div p{
    display: inline;
    color:tomato;
    border:2px solid wheat;
    border-radius: 80px 80px 20px 0px;
    font-size: 20px;
    padding:10px;
    font-weight: bold;
}

.header-div2 ul{
    text-align: center;
    margin-left: 50px;

}
.header-div2 ul li{
    display: inline-block;
    color:cornsilk;
    padding:30px;
    padding-top:0px;
    padding-bottom: 0px;
    font-size: 20px;

}
/* header part end */

/* section one start(flex1) */

.flex1{
    display:flex;
    align-items: center;
    margin-top: 80px;  
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:black;
}

h2{
    font-size: 40px;
    padding:30px;
    padding-top: 0px;
    padding-bottom: 0px;
   
}
.half-width1{
    width:50%;
    padding:50px;
}
.half-width2{
    width:50%;
    padding-left: 150px;
}
.half-width2 img{
    width:80%;
    
}
.span1{
    color:tomato;
}
.half-width1 p{
    font-size: 20px;
    padding:30px;
    padding-top: 10px;
}
.button1{
    text-decoration: none;
    background-image: linear-gradient(to right,tomato,wheat, tomato);
    padding:20px;
    margin-left: 30px;
    border-radius: 20px 50px;
    color:black;
    font-weight: 900;
    font-size: 20px;
    display: inline-block;
    margin-top: 5px;
    box-shadow: 5px 5px 25px tomato ;
}
/* section one end(flex1) */


/* section two start(flex2) */
.flex2{
    display:flex;
    align-items: center;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#flex2-div2{
    margin-right: 150px;
}

/* section two end(flex2) */


/* section three start(flex3) */
#section3 #h3{
    text-align: center;
    padding:50px;
    font-size: 30px;
    color:whitesmoke;
}

#section3 #p{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    
}

.flex3{
    display: flex;
    padding:80px;
    margin-top: 30px;    
}
.recepeies-flex{
    width:33%; 
    box-shadow: 30px 40px 60px black; 
    padding:30px;
    margin-left: 30px;  
    border-radius: 20px;
    background-color: whitesmoke;
    border-left: 5px solid;
    border-image: linear-gradient(to bottom,tomato,green);
    border-image-slice: 1;
    
}

.recepeies-flex img{
    width:100%;
}
.recepeies-flex h3{
    padding:20px;
    font-size: 30px;
}
.recepeies-flex p{
    padding:20px;
    color:tomato;
}
/* sectiion three end(flex3) */


/* section four start(flex4) */
.flex4{
    display:flex;
    padding:80px;
    align-items: center;
}
.flex4-div1{
    display:inline-block;
    width: 40%;
}
.flex4-div2{
    width:60%;
    background-color: tomato;
    padding:50px;
    margin-left: 200px;
    border-radius: 20px;
    box-shadow: 15px 15px 30px black;

    
}
.flex4-div2 form{
    display: inline-block;
   text-align: center;
    width: 100%;
}
.label{
    font-size: 30px;
}
.input-button{
    padding:10px;
    background-color: black;
    border-radius: 5px;
    margin-left: 5px;
}
.submit-button{
    padding:10px;
    width:100px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    font-weight: bold;
}
/* section four end(flex4) */

#hr1{
    padding:5px;
    background-color: black;
}

/* section five start(flex5) */
.flex5{
    display: flex;
    background-color: cornsilk;
    padding:100px;
    padding-top: 70px;
    align-items: center;

}

.flex5-div{
    width:33.33%;
}

.flex5 h1{
    font-size: 60px;
    text-align: center;
    padding: 10px;
    
}
.flex5 p{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    margin-left: 30px;
}
/* section five end(flex5) */
#hr2{
    padding: 5px ;
    background-image:linear-gradient(to bottom,tomato,tomato);
    margin-top: 10px;
}

/* footer start */
footer{
    background-color: black;
    padding:90px;
    padding-top: 60px;
}
footer h3{
    color:gray;
    text-align: center;
  
}
footer p{
    color:cornsilk;
    text-align: center;
    padding:30px;
    padding-bottom: 0px;
}

/* footer end */



